@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: #232536;
  height: 80px;
  width: 100%;
  position: fixed;
  align-items: center;
  transition: 1s;
}
.header .header__navbar {
  padding-top: 25px;
}
.header .header__navbar .header__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 890px) {
  .header .header__navbar .header__wrapper .header__link {
    display: none;
  }
}
.header .header__navbar .header__wrapper .header__link ul {
  display: flex;
  gap: 32px;
}
.header .header__navbar .header__wrapper .header__link ul li {
  position: relative;
  overflow: hidden;
}
.header .header__navbar .header__wrapper .header__link ul li::after {
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  content: "";
  transition: ease-in-out 0.6s;
  background: #fff;
  opacity: 0.6000000238;
}
.header .header__navbar .header__wrapper .header__link ul li::before {
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 50%;
  content: "";
  transition: ease-in-out 0.6s;
  background: #fff;
  opacity: 0.6000000238;
}
.header .header__navbar .header__wrapper .header__link ul li:hover::after {
  width: 100%;
  opacity: 1;
}
.header .header__navbar .header__wrapper .header__link ul li:hover::before {
  width: 100%;
  opacity: 1;
}
.header .header__navbar .header__wrapper .header__link ul li a {
  color: #fff;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: 0.5s;
  opacity: 0.6000000238;
}
.header .header__navbar .header__wrapper .header__link ul li a:hover {
  color: #fff;
  opacity: 1;
}

ul .nav-btn {
  display: flex;
  color: var(--secondary-orange, #ffd3af);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
ul .nav-btn::after {
  content: "→";
  color: #232536;
  font-size: 35px;
  font-weight: 900;
  margin-left: 10px;
  color: rgb(255, 255, 255);
}

.header.sticky {
  padding: 8px;
  height: 70px;
  background: rgba(35, 37, 54, 0.7803921569);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0px 22px 5px -19px rgba(0, 0, 0, 0.75);
  z-index: 10;
  width: 100%;
}

.navbar__toggle #navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 37, 37, 0.9411764706);
  transition: 0.5s;
}
.navbar__toggle #navbar-responsive #navbar-close {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
}
.navbar__toggle #navbar-responsive #navbar-close .fa-x {
  font-size: 30px;
  color: #ffffff;
  transition: 0.6s;
}
.navbar__toggle #navbar-responsive #navbar-close .fa-x:active {
  font-size: 20px;
}
.navbar__toggle #navbar-responsive ul {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 30px;
  padding-top: 130px;
}
.navbar__toggle #navbar-responsive ul li {
  padding-bottom: 15px;
  border-bottom: 3px solid #a6a6a6;
  width: 75%;
}
.navbar__toggle #navbar-responsive ul li a {
  color: rgba(255, 255, 255, 0.6588235294);
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 500;
  line-height: 24px;
  transition: 0.8s;
}
.navbar__toggle #navbar-responsive ul li a:hover {
  padding-left: 25px;
}
.navbar__toggle #navbar-open {
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
}
.navbar__toggle #navbar-open .fa-bars {
  font-size: 30px;
  color: #fff;
  transition: 0.6s;
}
.navbar__toggle #navbar-open .fa-bars:active {
  font-size: 20px;
}

.newslatter-p {
  padding-top: 96px;
  padding-bottom: 96px;
}
.newslatter-p .newslatter {
  background: var(--secondary-blue, #666dff);
}
.newslatter-p .newslatter .footer__newslatter {
  padding: 96px;
  display: flex;
  align-items: center;
  gap: 141px;
}
@media (max-width: 900px) {
  .newslatter-p .newslatter .footer__newslatter {
    flex-direction: column;
  }
}
.newslatter-p .newslatter .footer__newslatter .newslatter__aside h5 {
  margin-bottom: 13px;
  color: #fff;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.newslatter-p .newslatter .footer__newslatter .newslatter__aside h3 {
  max-width: 488px;
  color: #fff;
  font-family: "Poppins";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
}
.newslatter-p .newslatter .footer__newslatter .newslatter__bside .input__footer {
  width: 441px;
  padding-left: 29px;
  border: none;
  height: 64px;
  background: #fff;
  color: #232536;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
@media (max-width: 580px) {
  .newslatter-p .newslatter .footer__newslatter .newslatter__bside .input__footer {
    width: 250px;
    padding-left: 5px;
  }
}

.footer .footer__wrapper {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .footer .footer__wrapper {
    flex-direction: column;
  }
}
.footer .footer__wrapper .footer__left {
  display: flex;
  flex-direction: column;
}
.footer .footer__wrapper .footer__left h3 {
  max-width: 453px;
  color: #232536;
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
}
.footer .footer__wrapper .footer__left h5 {
  margin-top: 40px;
  margin-bottom: 28px;
  color: #232536;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.footer .footer__wrapper .footer__left a {
  gap: 5px;
  color: #232536;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
.footer .footer__wrapper .footer__link {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.footer .footer__wrapper .footer__link h5 {
  color: #232536;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.footer .footer__wrapper .footer__link a {
  color: #232536;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.footer .footer__wrapper .footer__services {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.footer .footer__wrapper .footer__services h5 {
  color: #232536;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.footer .footer__wrapper .footer__services a {
  color: #232536;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.footer .footer__wrapper .footer__resourses {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.footer .footer__wrapper .footer__resourses h5 {
  color: #232536;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.footer .footer__wrapper .footer__resourses a {
  color: #232536;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.footer .footer__wrapper .footer__border {
  margin-top: 14px;
  margin-bottom: 16px;
  max-width: 268px;
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
}
.footer .footer__wrapper .footer__box {
  padding-bottom: 50px;
}
@media (max-width: 800px) {
  .footer .footer__wrapper .footer__box {
    flex-direction: column;
  }
}
.footer .footer__wrapper .footer__box address {
  max-width: 206px;
  color: #232536;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.footer .footer__wrapper .footer__box a {
  display: flex;
  align-items: center;
  position: relative;
  color: #232536;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.footer .footer__wrapper .footer__box a::after {
  content: "→";
  padding-left: 5px;
  font-size: 20px;
  color: #000;
}
.footer .footer__wrapper .footer__box a::before {
  position: absolute;
  left: -60px;
  top: 22px;
  content: "";
  width: 50px;
  height: 14px;
  background: url(../../images/home/footer-link.svg), no-repeat;
  background-position: center;
}

.footer__ends {
  background: #ffe6d2;
  height: 80px;
  display: flex;
  align-items: center;
}
.footer__ends .footer__end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  .footer__ends .footer__end {
    flex-direction: column;
  }
}
.footer__ends .footer__end .end__aside {
  display: flex;
  gap: 42px;
}
.footer__ends .footer__end .end__bside {
  display: flex;
  gap: 15px;
  font-size: 20px;
}
.footer__ends .footer__end .end__bside i {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.header__link ul li a {
  text-decoration: none;
}

.service-hero {
  padding-top: 176px !important;
  padding-bottom: 96px;
  background-color: #FFE6D2 !important;
}
.service-hero .service__hero__container {
  display: flex;
}
.service-hero .service__hero__container .service__hero__left {
  display: flex;
  flex-direction: column;
}
.service-hero .service__hero__container .service__hero__left .service__hero__subtext {
  color: var(--dark, #232536);
  /* Caption */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.service-hero .service__hero__container .service__hero__left .service__hero__title {
  width: 622px;
  color: #232536;
  /* H2 Heading */
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  /* 120.833% */
}
.service-hero .service__hero__container .service__hero__left .service__hero__text {
  margin-top: 15px;
  margin-bottom: 35px;
  width: 624px;
  color: var(--dark, #232536);
  /* Paragraph */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  opacity: 0.6;
}
.service-hero .service__hero__container .service__hero__left .service__hero__btns .service__btn {
  position: relative;
  width: 231px;
  height: 64px;
  background-color: #444CFC;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FFF;
  /* Label/Label_Med */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: 0.4s;
  border: none;
  /* 150% */
}
.service-hero .service__hero__container .service__hero__left .service__hero__btns .service__btn:hover .service-hero__btn__text {
  text-decoration: underline;
}
.service-hero .service__hero__container .service__hero__left .service__hero__btns .service__btn .service-hero__btn__text {
  margin-top: 14px;
}
.service-hero .service__hero__container .service__hero__left .service__hero__btns .service__btn #servicesbtn_shape {
  position: absolute;
  left: 0;
  top: 0;
}
.service-hero .service__hero__container .service__hero__right {
  margin-top: 64px;
  padding-bottom: 96px;
  margin-left: 253px;
}
.service-hero .service__hero__container .service__hero__right ul li {
  margin-top: 16px;
  color: #232536;
  display: flex;
  gap: 10px;
  align-items: center;
  /* H4 Heading */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 150% */
}
.service-hero .service__hero__container .service__hero__right ul li:hover {
  text-decoration: underline;
}

.services-process {
  padding-bottom: 96px;
  background-color: #F9F9FF;
}
.services-process .services-process-container .services-process__wrapper {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
}
.services-process .services-process-container .services-process__wrapper .services-process_wtop {
  display: flex;
}
.services-process .services-process-container .services-process__wrapper .services-process_wtop .services-process_wtop__right {
  display: flex;
  flex-direction: column;
}
.services-process .services-process-container .services-process__wrapper .services-process_wtop .services-process_wtop__right .services-process_wtop__right__subtext {
  margin-bottom: 16px;
  color: #000;
  /* Caption */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 0.8;
}
.services-process .services-process-container .services-process__wrapper .services-process_wtop .services-process_wtop__right .services-process_wtop__right__title {
  margin-bottom: 16px;
  width: 650px;
  color: #232536;
  /* H2 Heading */
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  /* 120.833% */
}
.services-process .services-process-container .services-process__wrapper .services-process_wtop .services-process_wtop__right .services-process_wtop__right__text {
  width: 642px;
  color: #232536;
  /* Paragraph */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}
.services-process .services-process-container .services-process__wrapper .services-process_wtop .services-process_wtop__left {
  width: 100%;
  display: flex;
  justify-content: end;
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__top {
  display: flex;
  align-items: center;
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__top .services-process_wbottom__card {
  width: 377px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 32px;
  height: 164px;
  border: 1px solid rgba(35, 37, 54, 0.17);
  position: relative;
  display: flex;
  transition: 1s;
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__top .services-process_wbottom__card:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__top .services-process_wbottom__card:hover .services-process_wbottom__card__float__text {
  transform: scale(1.1);
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__top .services-process_wbottom__card .services-process_wbottom__card__float__text {
  position: absolute;
  right: 16px;
  top: 12px;
  color: var(--black, #232536);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  opacity: 0.3;
  /* 133.333% */
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__top .services-process_wbottom__card .services-process_wbottom__card__floatimg {
  left: 0;
  bottom: -8px;
  position: absolute;
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__top .services-process_wbottom__card .services-process_wbottom__card__texts {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__top .services-process_wbottom__card .services-process_wbottom__card__texts .services-process_wbottom__card__title {
  color: #000;
  /* H6 Heading */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 175% */
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__top .services-process_wbottom__card .services-process_wbottom__card__texts .services-process_wbottom__card__text {
  width: 259px;
  color: #232536;
  /* Paragraph */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__bottom {
  margin-top: 48px;
  display: flex;
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__bottom .services-process_wbottom__card {
  width: 377px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 32px;
  height: 164px;
  border: 1px solid rgba(35, 37, 54, 0.17);
  position: relative;
  display: flex;
  transition: 1s;
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__bottom .services-process_wbottom__card:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__bottom .services-process_wbottom__card:hover .services-process_wbottom__card__float__text {
  transform: scale(1.1);
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__bottom .services-process_wbottom__card .services-process_wbottom__card__float__text {
  position: absolute;
  right: 16px;
  top: 12px;
  color: var(--black, #232536);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  opacity: 0.3;
  /* 133.333% */
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__bottom .services-process_wbottom__card .services-process_wbottom__card__floatimg {
  left: 0;
  bottom: -8px;
  position: absolute;
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__bottom .services-process_wbottom__card .services-process_wbottom__card__texts {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__bottom .services-process_wbottom__card .services-process_wbottom__card__texts .services-process_wbottom__card__title {
  color: #000;
  /* H6 Heading */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 175% */
}
.services-process .services-process-container .services-process__wrapper .services-process_wbottom .services-process_wbottom__bottom .services-process_wbottom__card .services-process_wbottom__card__texts .services-process_wbottom__card__text {
  width: 259px;
  color: #232536;
  /* Paragraph */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.service-support {
  padding-bottom: 96px;
}
.service-support .service-support__container {
  display: flex;
  gap: 130px;
}
.service-support .service-support__container .service-support__left {
  margin-top: 141px;
  display: flex;
  flex-direction: column;
}

.service__support__subtext,
.ssall {
  color: #000;
  /* H4 Heading */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  opacity: 0.8;
  /* 150% */
}

.service__support__title,
.stall {
  width: 624px;
  color: #232536;
  /* H3 Heading */
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  /* 150% */
}

.service__support__text,
.steall {
  width: 622px;
  color: #232536;
  /* Paragraph */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
  /* 150% */
}

.services-development {
  padding-bottom: 96px;
  background-color: #ECF8F9;
}
.services-development .services-development__container {
  gap: 130px;
  display: flex;
}
.services-development .services-development__container .services-development__right {
  margin-top: 141px;
}

.services-azure {
  padding-bottom: 96px;
}
.services-azure .services-azure__container {
  display: flex;
  gap: 130px;
}
.services-azure .services-azure__container .services-azure__left {
  margin-top: 141px;
}

.services-consulting {
  background-color: #F9F9FF;
  padding-bottom: 96px;
}
.services-consulting .services-consulting-container {
  display: flex;
  gap: 130px;
}
.services-consulting .services-consulting-container .services-consulting__right {
  margin-top: 195px;
}

.services-inofrmation {
  padding-bottom: 96px;
}
.services-inofrmation .services-information-container {
  display: flex;
  gap: 130px;
}
.services-inofrmation .services-information-container .services-information__left {
  margin-top: 141px;
}

.service-newsletter {
  position: relative;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #666DFF;
}
.service-newsletter .service-newsletter__container {
  display: flex;
}
.service-newsletter .service-newsletter__container .service-newsletter__left {
  display: flex;
  flex-direction: column;
}
.service-newsletter .service-newsletter__container .service-newsletter__left .newsletter__floatimgs {
  position: absolute;
  right: 10px;
}
.service-newsletter .service-newsletter__container .service-newsletter__left .newsletter__floatimgs .floatnewslet {
  position: absolute;
  height: 24px;
  right: 20px;
}
.service-newsletter .service-newsletter__container .service-newsletter__left .newsletter__floatimgs .floatnewslett {
  position: absolute;
  height: 40px;
}
.service-newsletter .service-newsletter__container .service-newsletter__left .cornerimg {
  position: absolute;
  top: 0;
}
.service-newsletter .service-newsletter__container .service-newsletter__left .service-nsubtext {
  color: #FFF;
  /* Caption */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.service-newsletter .service-newsletter__container .service-newsletter__left .service-ntitle {
  margin-top: 13px;
  width: 488px;
  color: #FFF;
  /* H3 Heading */
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  /* 150% */
}