.footer {
  .footer__wrapper {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 800px) {
      flex-direction: column;
    }
    .footer__left {
      display: flex;
      flex-direction: column;
      h3 {
        max-width: 453px;
        color: #232536;
        font-family: "Poppins";
        font-size: 48px;
        font-weight: 600;
        line-height: 58px; /* 120.833% */
      }
      h5 {
        margin-top: 40px;
        margin-bottom: 28px;
        color: #232536;
        font-family: "Poppins";
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
      }
      a {
        gap: 5px;
        color: #232536;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 500;
        line-height: 28px; /* 155.556% */
      }
    }
    .footer__link {
      display: flex;
      flex-direction: column;
      gap: 13px;
      h5 {
        color: #232536;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 600;
        line-height: 28px; /* 175% */
      }
      a {
        color: #232536;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 600;
        line-height: 28px; /* 175% */
      }
    }
    .footer__services {
      display: flex;
      flex-direction: column;
      gap: 13px;
      h5 {
        color: #232536;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 600;
        line-height: 28px; /* 175% */
      }
      a {
        color: #232536;
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
      }
    }
    .footer__resourses {
      display: flex;
      flex-direction: column;
      gap: 13px;
      h5 {
        color: #232536;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 600;
        line-height: 28px; /* 175% */
      }
      a {
        color: #232536;
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
      }
    }
  }
  .footer__border {
    margin-top: 14px;
    margin-bottom: 16px;
    max-width: 268px;
    height: 1px;
    background: rgba(0, 0, 0, 0.08);
  }
  .footer__box {
    padding-bottom: 50px;
    @media (max-width: 800px) {
      flex-direction: column;
    }
    address {
      max-width: 206px;
      color: #232536;
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
    a {
      display: flex;
      align-items: center;
      position: relative;
      color: #232536;
      font-family: "Poppins";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      &::after {
        content: "→";
        padding-left: 5px;
        font-size: 20px;
        color: #000;
      }
      &::before {
        position: absolute;
        left: -60px;
        top: 22px;
        content: "";
        width: 50px;
        height: 14px;
        background: url(../../images/home/footer-link.svg), no-repeat;
        background-position: center;
      }
    }
  }
  .footer__ends {
    background: #ffe6d2;
    height: 80px;
    display: flex;
    align-items: center;

    .footer__end {
      @media (max-width: 800px) {
        flex-direction: column;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      .end__aside {
        display: flex;
        gap: 42px;
      }
      .end__bside {
        display: flex;
        gap: 15px;
        font-size: 20px;
        i {
          cursor: pointer;
        }
      }
    }
  }
}
