@use "../global";
@use "../utils/mixins" as mxn;

.home {
  padding-top: 80px;
  background: #232536;
  .home__wrapper {
    .home__aside {
      padding-top: 200px;
      h1 {
        max-width: 624px;
        color: #fff;
        font-family: "Poppins";
        font-size: 56px;
        font-weight: 600;
        line-height: 68px; /* 121.429% */
      }
      p {
        margin-top: 24px;
        margin-bottom: 52px;
        max-width: 528px;
        color: #fff;
        font-family: "Poppins";
        font-size: 16px;
        line-height: 24px;
      }
      a {
        @include mxn.btn;
      }
    }
    .home__bside {
      padding-top: 96px;
      img {
        width: 100%;
      }
    }
  }
}

.home__sponsers {
  padding-top: 33px;
  @media (max-width: 1000px) {
    flex-wrap: wrap;
  }
  img {
    width: 100%;
  }
  .home__clients {
    width: 100%;
    a {
      color: #fff;
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      opacity: 0.6000000238418579;
      transition: 0.6s;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.about-us {
  .about__wrapper {
    padding-top: 120px;
    h5 {
      color: #000;
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      opacity: 0.8700000047683716;
    }
    .about__aside {
      h3 {
        margin-right: 92px;
        max-width: 640px;
        color: #232536;
        font-family: "Poppins";
        font-size: 40px;
        font-weight: 600;
        line-height: 58px;
      }
    }
    .about__bside {
      h4 {
        color: #232536;
        font-family: "Poppins";
        font-size: 34px;
        font-weight: 600;
        line-height: 54px;
      }
      p {
        max-width: 547px;
        color: #5d5f6d;
        font-family: "Poppins";
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.about__jpgs {
  .about__jpg {
    img {
      width: 100%;
    }
  }
}
.about__box {
  margin-top: 48px;
  margin-bottom: 98px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 900px) {
    flex-direction: column;
  }
  .about__box__aside {
    display: flex;
    align-items: flex-end;
    gap: 100px;
    @media (max-width: 900px) {
      flex-wrap: wrap;
    }
    .about__box__card {
      h5 {
        color: #232536;
        font-family: "Poppins";
        font-size: 36px;
        font-weight: 600;
        line-height: 54px; /* 150% */
      }
      p {
        color: #000;
        font-family: "Poppins";
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .about__box__bside {
    display: flex;
    align-items: center;
    a {
      color: #444cfc;
      font-family: "Poppins";
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      opacity: 0.8700000047683716;
      &::after {
        content: "→";
        margin-left: 10px;
        font-size: 25px;
        font-weight: 800;
        color: #000;
      }
    }
  }
}

.expertise {
  background: #ecf8f9;
  .expertise__aside {
    padding-top: 142px;
    padding-bottom: 154px;
    h5 {
      color: #000;
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    h3 {
      padding-top: 16px;
      padding-bottom: 24px;
      color: #232536;
      font-family: "Poppins";
      font-size: 48px;
      font-weight: 600;
      line-height: 58px; /* 120.833% */
    }
    p {
      color: #5d5f6d;
      font-family: "Poppins";
      font-size: 16px;
      line-height: 24px; /* 150% */
    }
  }
  .expertise__bside {
    padding-top: 112px;
    padding-bottom: 104px;
    .expertise__card {
      position: relative;
      margin-bottom: 12px;
      padding: 32px;
      background: #fff;
      gap: 16px;
      cursor: pointer;
      transition: 0.6s;
      &:hover {
        transform: scale(0.9);
      }
      &::before {
        position: absolute;
        left: 0;
        bottom: -10px;
        content: "";
        width: 0;
        height: 0;
        background: rgb(255, 161, 85);
        background: linear-gradient(
          176deg,
          rgba(255, 161, 85, 1) 25%,
          rgba(68, 76, 252, 1) 75%
        );
        transition: 0.6s;
      }
      &:hover::before {
        width: 100%;
        height: 10px;
      }
      h5 {
        color: #000;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 600;
        line-height: 28px; /* 175% */
      }
      p {
        max-width: 303px;
        color: #5d5f6d;
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
      }
    }
  }
}

.services {
  background: #ffe6d2;
  padding-top: 96px;
  padding-bottom: 96px;
  .services__wrapper {
    h5 {
      color: #000;
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    h3 {
      padding-top: 12px;
      padding-bottom: 40px;
      max-width: 777px;
      color: #232536;
      font-family: "Poppins";
      font-size: 48px;
      font-weight: 600;
      line-height: 58px; /* 120.833% */
    }
    .services__btn {
      @include mxn.btn;
      &:hover {
        color: #000;
        border: 1px solid #000;
      }
      &::after {
        padding-left: 10px;
        content: "→";
        font-size: 30px;
        font-weight: 900;
      }
    }
    .services__cards {
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
      @media (max-width: 900px){
        flex-wrap: wrap;
        gap: 32px;
      }
      .services__card {
        padding: 48px 31px 44px 48px;
        background: #fff;
        h5 {
          color: #000;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 600;
          line-height: 28px; /* 175% */
        }
        p {
          max-width: 326px;
          color: #5d5f6d;
          font-family: "Poppins";
          font-size: 16px;
          line-height: 24px; /* 150% */
        }
        .services__link {
          color: #444cfc;
          font-family: 'Poppins';
          font-size: 16px;
          font-weight: 500;
          line-height: 24px; /* 150% */
          &::after {
            content: "→";
            font-size: 28px;
            font-weight: 900;
            padding-left: 10px;
            color: #000;
          }
        }
      }
    }
  }
}
